<ion-modal-view>
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <form id="filters-form2" class="list">
            <label class="item item-select" id="filters-select1">
                <span class="input-label">Type</span>
                <select>
                    <option>Clothing</option>
                    <option>Headgear</option>
                    <option>Shoes</option>
                </select>
            </label>
            <label class="item item-select" id="filters-select2">
                <span class="input-label">Brand</span>
                <select></select>
            </label>
            <label class="item item-select" id="filters-select3">
                <span class="input-label">Ability</span>
                <select></select>
            </label>
            <ion-toggle toggle-class="toggle-assertive" id="filters-toggle1">Separate Sub/Main</ion-toggle>
        </form>
        <div class="spacer" style="width: 300px; height: 109px;"></div>
        <button id="filters-button4" class="button button-assertive button-block">Apply</button>
    </ion-content>
</ion-modal-view>