<ion-view title="Gear List" id="page1">

    <div class="col bar bar-subheader bar-assertive item-input-inset" style="height: 200px" >

        <label class="item item-select item-assertive row-no-padding" id="filters-select1">
            <span class="input-label">Type</span>
            <select ng-model="input.Type">
                <option selected>Any</option>
                <option>headgear</option>
                <option>clothing</option>
                <option>shoes</option>
            </select>
        </label>

        <div ng-show="input.Toggle">
            <label class="item item-select item-assertive row-no-padding" id="filters-select3">
                <span class="input-label">Main Ability</span>
                <select ng-model="input.Main" ng-options="item for item in Abilities.all"></select>
            </label>

            <label class="item item-select item-assertive row-no-padding" id="filters-select2">
                <span class="input-label">Likely Sub</span>
                <select ng-model="input.Sub" ng-options="item for item in Abilities.subs"></select>
            </label>
        </div>

        <div ng-show="!input.Toggle" style="margin-top: 19px; margin-bottom: 19px">
            <label class="item item-select item-assertive row-no-padding">
                <span class="input-label">Ability</span>
                <select ng-model="input.Ability" ng-options="item for item in Abilities.all"></select>
            </label>
        </div>


        <ion-toggle class="item-assertive" ng-model="input.Toggle" style="margin-top: -8px" id="filters-toggle1">Separate Sub/Main</ion-toggle>
        <ion-toggle class="item-assertive" ng-model="input.Favourite" style="margin-top: -14px" >Favourite</ion-toggle>

    </div>
    <ion-content style="margin-top:200px">
        <ion-list id="gearList-list3">
            <ion-item class="item-thumbnail-left" id="gearList-list-item11" ng-repeat="gear in gears | filter: searchFilter">
                <img ng-src="../img/gear/{{gear.image}}">
                <div class="row">
                    <div class="col col-90">
                        <div class="col">
                            <h2>{{gear.name}}</h2>
                        </div>
                    </div>
                    <div class="col">
                        <i style="font-size: x-large" ng-show="favourites[gear.code] != true " ng-click="addFavourite(gear.code)" class=" ion-ios-heart-outline" ></i>
                        <i style="font-size: x-large" ng-show="favourites[gear.code] == true " ng-click="removeFavourite(gear.code)" class=" ion-ios-heart" ></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Brand: {{gear.brand}}</p>

                    </div>
                    <div class="col">
                        <p>Rarity {{gear.rarity}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Main Ability: {{gear.main}}</p>
                        <p>Likely Sub: {{gear.likely_sub}}</p>
                    </div>
                </div>
            </ion-item>
        </ion-list>

    </ion-content>


</ion-view>