<ion-view title="Gear List" id="page1">
  <ion-content padding="true" class="has-header">
    <div id="gearList-container1">
      <ion-list id="gearList-list3">
        <ion-item class="item-thumbnail-left" id="gearList-list-item11">
          <h2>Item</h2>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="gearList-list-item12">
          <h2>Item</h2>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="gearList-list-item13">
          <h2>Item</h2>
        </ion-item>
      </ion-list>
    </div>
    <div class="spacer" style="width: 300px; height: 93px;"></div>
    <a ui-sref="filters()" id="gearList-button1" class="button button-assertive button-block">Open Filters</a>
  </ion-content>
</ion-view>