<ion-view title="Kit Optimizer" id="page2">
    <div class="col bar bar-subheader bar-assertive item-input-inset" style="height: 160px" >

        <div  class="row" style="max-height: 50px">
            <label class="item item-select item-assertive row-no-padding col-75">
                <span class="input-label" style="">Ability</span>
                <select ng-model="input.ability" value="Any" ng-options="item for item in Abilities"></select>
            </label>
            <div class="col">
                <button  ng-disabled="selection.length == 6"  class="button button-light button-block icon-left ion-android-add" ng-click="addAbility()">Add</button>
            </div>
        </div>

        <div  class="row" style="max-height: 50px;">
            <div class="col-75">
                <p class="light" style="margin-top: 10px">Selected Abilities: (Click to remove)</p>
            </div>
            <div class="col">
                <button class="button button-light button-block" ng-disabled="selection.length == 0"  ng-click="genKits()">Go</button>
            </div>
        </div>

        <div class="row" style="max-height: 30px">
            <div class="col"  ng-click="selection.splice($index, 1)" style="max-height: 70px" ng-repeat="item in selection track by $index">
                <img style="max-height: 40px" ng-src="../img/abilities/{{Abilities[item]}}.png">
            </div>
        </div>

    </div>
  <ion-content style="margin-top: 160px">
      <ion-list>
          <ion-item class="item" style="padding: 0" ng-repeat="(kitKey, kitValue) in kits">
              <div class="row" style="max-width: 100vw; min-height: 25vh">
                  <div class="col" ng-repeat="item in kitValue track by $index">
                      <div class="row">
                          <div class="col item-text-wrap">
                              <p class="text-center">{{get(item).name}}</p>
                          </div>
                      </div>
                      <div class="row row-no-padding">
                          <div class="col col-center">
                              <img ng-src="../img/gear/{{get(item).image}}">
                          </div>
                      </div>
                      <div class="row row-no-padding" style="margin-top: 20px">
                          <div class="col">
                              <img style="max-height: 25px" ng-src="../img/abilities/{{get(item).main}}.png">
                          </div>
                          <div class="col">
                              <img style="max-height: 25px" ng-src="../img/abilities/{{get(item).likely_sub}}.png">
                          </div>
                      </div>
                  </div>
              </div>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>