<ion-view title="Kit Optimizer" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="kitOptimizer-form3" class="list">
      <label class="item item-select" id="kitOptimizer-select4">
        <span class="input-label">Select</span>
        <select></select>
      </label>
    </form>
    <button id="kitOptimizer-button5" style="font-weight:500;" class="button button-assertive button-block icon-left ion-android-add">Add</button>
    <div id="kitOptimizer-container2">
      <ion-list id="kitOptimizer-list5">
        <ion-item class="item-avatar" id="kitOptimizer-list-item14">
          <h2>Item</h2>
        </ion-item>
        <ion-item class="item-avatar" id="kitOptimizer-list-item17">
          <h2>Item</h2>
        </ion-item>
        <ion-item class="item-avatar" id="kitOptimizer-list-item16">
          <h2>Item</h2>
        </ion-item>
        <ion-item class="item-avatar" id="kitOptimizer-list-item15">
          <h2>Item</h2>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>