<ion-view title="Kit Optimizer" id="page2">
    <div class="col bar bar-subheader bar-assertive item-input-inset" style="height: 160px" >

        <div  class="row" style="max-height: 50px">
            <label class="item item-select item-assertive row-no-padding col-75">
                <span class="input-label" style="">Ability</span>
                <select ng-model="input.ability" ng-options="item for item in Abilities"></select>
            </label>
            <div class="col">
                <button id="kitOptimizer-button5" ng-disabled="selection.length == 6"  class="button button-light button-block icon-left ion-android-add" ng-click="addAbility()">Add</button>
            </div>
        </div>

        <div  class="row" style="max-height: 50px;">
            <div class="col-75">
                <p class="light" style="margin-top: 10px">Selected Abilities: (Click to remove)</p>
            </div>
            <div class="col">
                <button class="button button-light button-block" ng-click="genKits()">Go</button>
            </div>
        </div>

        <div class="row" style="max-height: 30px">

            <div class="col"  ng-click="selection.splice($index, 1)" style="max-height: 70px" ng-repeat="item in selection track by $index">
                <img style="max-height: 40px" ng-src="../img/abilities/{{Abilities[item]}}.png"  >
            </div>
        </div>

    </div>
  <ion-content style="margin-top: 160px">
      <ion-list>
          <ion-item class="item"  ng-repeat="(kitKey, kitValue) in kits">
              {{kitValue}}
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>